/* Font (Open Sans, Playfair Display) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&display=swap');
/* font-family: 'Playfair Display', serif; */

.body {
  /* TAG: change page margins here */
  /* width: 784px; */
  /* width: 100%; */
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  margin-top: 115px;
  margin-bottom: 76px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
}

.header .navigation {
  width: 100%;
  display: flex;
}

.header .navigation div a {
  color: #BBBBBB;
  text-decoration: none;
  transition: color 0.2s;
}

.header .navigation div a:hover {
  color: black !important;
}

.header .navigation .active {
  color: black !important;
}

.header .navigation-sub {
  width: 276px;
  font-size: 22px;
  display: flex;
}

.header .navigation .natasha {
  font-size: 26px;
  width: calc(100% - 276px);
  line-height: 36px;
}

.header .navigation .navigation-sub .work,
.header .navigation .navigation-sub .about {
  padding-right: 40px;
}

.header .specialty {
  font-size: 22px;
  color: #75A6D6;
  line-height: 36px;
}

.header-project {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}



/* FOOTER */

.footer {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer .footer-statement{
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0px auto 11px auto;
  width: 100%;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer .social-links .social {
  background-color: #000000;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.footer .social-links .social-last {
  background-color: #000000;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  margin-right: 0px;
}

.footer .social-links .social .linkedin {
  max-width: 36px;
  max-height: 36px;
  padding: 11px 8px 8px 9px;

}

.footer .social-links .social-last .email {
  max-width: 36px;
  max-height: 36px;
  padding: 13px 8px 8px 8px;
}


.footer .footer-copyright {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #B1B1B1;
  line-height: 36px;
  margin: 20px auto 0px auto;
  width: 100%;
}


/* MAIN PAGE */

/* Projects List */

.projects {
  width: 100%;
  font-family: 'Open Sans', 'Arial', sans-serif;
  display: flex;
  justify-content: space-between;
}

.intro {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: grey;
}

.intro .intro-name {
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  font-weight: 800;
  color: black;
}

/* Individual Project (Cards) */
.project {
  text-decoration: none;
}

.project a:hover {
  text-decoration: none;
}

.card {
  /* width: 20rem; */
  width: 1000px;
  margin-top: 85px;
  /* box-shadow: 0 4px 10px 0 rgba(57,86,113,0.24); */
}

/* .card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
} */

.card-title {
  font-size: 36px;
  font-weight: 700;
  padding: 0px 40px;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-weight: 500;
  font-size: 18px;
  padding: 10px 40px;
}

.card-body .btn {
  margin-left: 40px;
  font-weight: 600;

}

/* .container-fluid .row  {
  padding-top: 6rem;
} */

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.4s ease;
}

.card-img-top:hover {
  transform: scale(1.05);
}


/* ABOUT PAGE */

.about-image {
  /* max-width: 1000px; */
  /* max-width: 500px; */
  width: 512px;
  height: 596px;
  box-shadow: 0px 0px 10px rgba(224, 224, 224, 0.5);
  display: flex;
}

.about-content {
  /* margin-top: 50px; */
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  padding-left: 30px;
}

.about-title {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 22px;
}



/* RESUME PAGE */

.resume-content {
  width: 100%;
  margin-top: 60px;
  /* display: flex; */
}

.resume-content a {
  text-decoration: none;
  width: 320px;
  height: 50px;
  color: #75A6D6;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 1px;
  background-color: white;
  border: 2px solid #75A6D6;
  cursor: pointer;
  border-radius: 38px;
  transition: all 0.4s;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-content a:hover {
  text-decoration: none;
  color: white;
  background-color: #75A6D6;
  border: 2px solid #75A6D6;
}

.resume-content img {
  /* max-width: 1000px; */
  width: 100%;
  /* display: flex; */
}



/* PROJECTS */

/* Project Header */

.project-info .project-hero {
  margin-bottom: 50px;
  width: 100%;
  /* position: absolute;
  left: 0;
  right: 0; */
}

.project-info {
  /* TAG: margins */
  font-family: 'Open Sans', 'Arial', sans-serif;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  top: -106px;
  /* z-index: 2; */
}

.project-info .project-title {
  font-weight: 700;
  font-size: 50px;
  color: black;
  line-height: 46px;
  margin-top: 12px;
  margin-bottom: 40px;
}

.project-details {
  font-size: 16px;
  /* color: #6E6C79; */
  line-height: 26px;
  /* display: flex;
  flex-wrap: wrap; */
  padding-top: 10px;
  display: inline-block;
}

.project-details-title {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
}

.project-details .hide {

  visibility: hidden;
}

.project-details-text {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 22px;
  padding-left: 30px;
  /* position: absolute; */
  /* margin-top: 40px; */
  line-height: 36px;
}

.project-details-description {
  font-size: 22px;
  line-height: 36px;
  /* TAG: ProjectNav spacing issues */
  padding-right: 40px;
}

.content-title {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 40px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.content-subtitle {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 30px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 10px;
}

/* .stage-grey {
  color: #3D3D3D;
} */

.content {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 22px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 36px;
}


/* PROJECT PAGE - EQUALICARE */

.equalicare .navigation-sub {
  /* z-index: 10; */
}

.equalicare .cover {
  width: 100%;
  /* height: 540px; */
  /* position: relative; */
}

.equalicare .content-title{
  width: 100%;
  /* background-color: #12B7BB; */
  background-color: #6FCAD2;
}

.equalicare .list {
  padding-left: 40px;
}

.equalicare bold {
  font-weight: 600;
  /* font-weight: 700; */
}