/* Font (Open Sans, Playfair Display) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&display=swap');
/* font-family: 'Playfair Display', serif; */

.body {
  /* TAG: change page margins here */
  /* width: 784px; */
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  margin-top: 115px;
  margin-bottom: 76px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
}

.header .navigation {
  width: 100%;
  display: flex;
}

.header .navigation div a {
  color: #BBBBBB;
  text-decoration: none;
  transition: color 0.2s;
}

.header .navigation div a:hover {
  color: black !important;
}

.header .navigation .active {
  color: black !important;
}

.header .navigation-sub {
  width: 276px;
  font-size: 22px;
  display: flex;
}

.header .navigation .natasha {
  font-size: 26px;
  width: calc(100% - 276px);
  line-height: 36px;
}

.header .navigation .navigation-sub .work, .about {
  padding-right: 40px;
}

.header .specialty {
  font-size: 20px;
  color: #75A6D6;
  line-height: 36px;
}



/* MAIN PAGE */

.projects {
  width: 100%;
  font-family: 'Open Sans', 'Arial', sans-serif;
  display: flex;
  justify-content: space-between;
}

.intro {
  font-size: 26px;
  font-weight: 600;
  color: grey;
}

.intro .intro-name {
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  font-weight: 800;
  color: black;
}

/* Project Thumbnail Cards */

.card {
  /* width: 20rem; */
  width: 1000px;
  margin-top: 85px;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

/* .container-fluid .row  {
  padding-top: 6rem;
} */

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(1.8);
}